/*div.lexi ul li {
   text-align: left;
   list-style-type: none;
   background:transparent url(images/b.gif) no-repeat 0 4px;
   border:0;
   margin:0;
   padding:0 0 2px 14px;
}*/

img.lexi {
    background : transparent;
    padding : 0px;
    margin : 0px;
    border-width : 0px;
  }

